In [16]:
import pandas as pd
import tensorflow as tf

In [17]:
census=pd.read_csv("Salary_data.csv")
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [18]:
census["income_bracket"].unique()

array([' <=50K', ' >50K'], dtype=object)

In [35]:
def label_fix(label):
    if label== ' <=50K':
        return 0
    else:
        return 1

In [36]:
census['income_bracket'] = census['income_bracket'].apply(label_fix)
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,1
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,1
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,1
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,1
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,1

In [21]:
from sklearn.model_selection import train_test_split_test_split

In [22]:
x_data=census.drop("income_bracket",axis=1)
y_label=census["income_bracket"]

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x_data,y_label,test_size=0.3,random_state=101)

In [37]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [38]:
gender=tf.feature_column.categorical_column_with_hash_bucket("gender",hash_bucket_size=10)
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

In [39]:
age=tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

In [40]:
feat_cols= [gender,occupation,marital_status,relationship,education,workclass,native_country,age,
            education_num,capital_gain,capital_loss,hours_per_week]

In [43]:
input_func=tf.estimator.inputs.pandas_input_fn(x_train,y_train,batch_size=100,num_epochs=None,shuffle=True)

In [42]:
model=tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\Sara\AppData\Local\Temp\tmpxi_ac9v4
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\Sara\\AppData\\Local\\Temp\\tmpxi_ac9v4', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000000E9CE3B8780>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [44]:
model.train(input_fn=input_func,steps=1000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\Sara\AppData\Local\Temp\tmpxi_ac9v4\model.ckpt.
INFO:tensorflow:loss = 69.31474, step = 1
INFO:tensorflow:global_step/sec: 38.691
INFO:tensorflow:loss = 0.0004943832, step = 101 (2.602 sec)
INFO:tensorflow:global_step/sec: 71.6156
INFO:tensorflow:loss = 2.9420149e-05, step = 201 (1.391 sec)
INFO:tensorflow:global_step/sec: 63.2856
INFO:tensorflow:loss = 0.00031150298, step = 301 (1.580 sec)
INFO:tensorflow:global_step/sec: 66.4729
INFO:tensorflow:loss = 0.00012934944, step = 401 (1.504 sec)
INFO:tensorflow:global_step/sec: 73.1916
INFO:tensorflow:loss = 0.00014957937, step = 501 (1.362 sec)
INFO:tensorflow:global_step/sec: 74.0692
INFO:tensorflow:loss = 0.00020055266, step = 601 (1.350 sec)
INFO:tensorflow:global_step/sec: 77.622
INFO:tensorflow:loss = 0.00033549537, step = 701 (1.288 sec)
INFO:tensorflow:global_step/sec: 74.8549
INFO:tensorflow:loss = 0.00024561223, step = 801 (1.336 sec)
INFO:tensorflow:global_step/sec: 76.7617
INFO:tensorflow:loss = 0.00017236582, step = 901 (1.307 sec)
INFO:tensorflow:Saving checkpoints for 1000 into C:\Users\Sara\AppData\Local\Temp\tmpxi_ac9v4\model.ckpt.
INFO:tensorflow:Loss for final step: 0.00014895736.

In [47]:
pred_func=tf.estimator.inputs.pandas_input_fn(x_test,batch_size=len(x_test), shuffle=False)
prediction=list(model.predict(input_fn=pred_func))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\Sara\AppData\Local\Temp\tmpxi_ac9v4\model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [49]:
final_pred=[0]
for pred in prediction:
    final_pred.append(pred['class_ids'][0])

In [50]:
final_pred[:10]

[0, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [51]:
from sklearn.metrics import classification_report

In [53]:
print(classification_report(y_test,final_pred))

ValueError: Found input variables with inconsistent numbers of samples: [9769, 9770]